@model BlogMvcUI.Models.PostIndexModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*---Control Counts of Posts---*@
@if (Model.Posts.Count == 0)
{
    <div class="alert alert-danger" role="alert">
        Bu kategoriye ait kayıtlı post bulunamadı !
    </div>
}

@*---Show Posts---*@
else
{
    @foreach (var post in Model.Posts)
    {
        var text = Html.Raw(post.PostContent);

        @if (post.PostContent.Length > 300)
        {
            text = Html.Raw(post.PostContent.Substring(0, 297) + "...");
        }

        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">@post.Title</h2>
                <p class="card-text">@text</p>
                <a asp-action="Detail" asp-controller="Post" asp-route-postId=@post.Id class="btn btn-primary">Read More →</a>
            </div>
            <div class="card-footer text-muted">
                Posted on : @post.UploadDate.ToString("dd/MM/yyyy")
            </div>
        </div>
    }


    @*---Pagination---*@
    <nav aria-label="Page navigation example">
        <ul class="pagination">

            @if (Model.CurrentPage - 1 > 0)
            {
                var previousPage = Model.CurrentPage - 1;
                <li class="page-item"><a class="page-link" href="/post/index/?page=@previousPage&categoryId=@Model.CurrentCategory">Previous</a></li>
            }

            <li class="page-item"><a class="page-link">@Model.CurrentPage</a></li>

            @if (Model.CurrentPage + 1 <= Model.PageNumber)
            {
                var nextPage = Model.CurrentPage + 1;
                <li class="page-item"><a class="page-link" href="/post/index/?page=@nextPage&categoryId=@Model.CurrentCategory">Next</a></li>
            }

        </ul>
    </nav>
}



